<%= render 'shared/navbar_searchbar' %>
<%= yield %>


  <div class="dashboard-body d-flex">

    <div class="dashboard-sidebar">
    </div>

    <div class="dashboard-tabs">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Watches</a>
        </li>
        <li class="nav-item" role="presentation">
          <%= link_to "New Watch", new_watch_path , class: "nav-link" %>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="menu1" data-toggle="tab" href="#menu1" role="tab" aria-controls="profile" aria-selected="false"><i class="fas fa-heart"></i></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="menu1" data-toggle="tab" href="#menu2" role="tab" aria-controls="profile" aria-selected="false"><i class="fas fa-envelope top"></i></a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


          <div class="current-bookings">
            <div class="dashboard-page-title">
              <h1> My current bookings </h1>
            </div>
            </br>
            <div class="dashboard-cards">

              <% @user_bookings.each do |booking| %>
              <% if booking.end_date > Time.now  %>
                <div class="card dashboard-card" style="width: 18rem;">

                  <%= cl_image_tag(booking.watch.photos.first.key, :alt => "rss feed", class: "card-img-top" ) %>


                  <div class="card-body">
                    <div class="booked-card-info d-flex justify-content-between">
                      <h5 class="card-title-dashboard"><%= booking.watch.brand %></h5>
                      <p class="card-text">€ <%= booking.watch.price %></p>
                    </div>
                    <div class="lender-info-card">
                      <p class="card-text meet-lender">Meet your lender:</p>
                      <div class="lender-info d-flex justify-content-between">
                        <p class="card-text"><%= "#{booking.watch.user.first_name} #{booking.watch.user.last_name}"%></p>
                        <i class="fas fa-envelope"></i>
                      </div>
                    </div>
                    <a href="#" class="btn btn-dashboard">See booking details</a>
                  </div>
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
          </br>
          </br>

          <div class="dashboard-page-title">
            <h1> Past bookings </h1>
          </div>

          <div class="dashboard-cards">
              <% @user_bookings.each do |booking| %>
              <% if booking.end_date < Time.now  %>
                <div class="card dashboard-card" style="width: 18rem;">
                  <%= cl_image_tag(booking.watch.photos.last.key, :alt => "rss feed", class: "card-img-top" ) %>
                  <div class="card-body">
                  <div class="booked-card-info d-flex justify-content-between">
                      <h5 class="card-title"><%= booking.watch.brand %></h5>
                      <p class="card-text">€ <%= booking.watch.price %></p>
                    </div>
                    <a href="#" class="btn btn-dashboard">See booking details</a>
                  </div>
                </div>
                <% end %>
              <% end %>
            </div>

        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="my-watch-cards">
          <% current_user.watches.each do |watch| %>
            <div class="my-watch-card d-flex">
              <% if watch.photos.attached? %>
                <%= cl_image_tag(watch.photos.last.key, :alt => "rss feed", class: "my-watch-image" ) %>
              <% else %>
                <%= image_tag("logo.png", :alt => "rss feed", style: "width: 165px; height: 305px;") %>

              <% end %>

              <div class='my-watch-info'>



                <h2><%= watch.brand %></h2>
                <p><strong>€ <%= watch.price %></strong></p>
                <p><%= watch.description %></p>

              </div>

                <div class="my-watch-edits">
                  <%= link_to edit_watch_path(watch) do %>
                    <div class="edit-watch d-flex justify-content-around align-items-center">
                      <class class="edit-watch-title">
                        <p>Edit my watch</p>
                      </class>
                      <i class="fas fa-edit"></i>
                    </div>
                  <% end %>
                  <div class="my-watch-summmary">
                    <p><strong>Summary:</strong></p>
                    <class class="summary-data d-flex justify-content-around">
                      <p> Number of bookings: </p>
                      <p><%= watch.bookings.count %></p>
                    </class>
                  </div>
                </div>
            </div>
          <% end %>
        </div>
      </div>

        <div id="menu1" class="tab-pane fade">
          <h3>My likes</h3>
        </div>

        <div id="menu2" class="tab-pane fade">
        </div>


      </div>
    </div>

</div>

