<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-dark bg-dark">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", :class => "style-logo" %>
    <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
         <div class="items-menu-bar d-flex align-items-center">
          <%= link_to dashboard_path do %>
            <i class="fas fa-home fa-2x"></i>
          <% end %>
          <div class="dropdown dashboard-home">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Payment Info</a>
              <a class="dropdown-item" href="#">Account Setting</a>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <i class="fas fa-sign-out-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="request-booking">
  <div class = "request-to-book"><h1> Request to book</h1></div>

  <div class="d-flex">
  <div class="dates-picker">
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <h7>Pick your dates </h7>


      <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :pick_on, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :return_on, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Book now", class: "date-button" %>
      <% end %>
    </div>
  </div>
  <div class = "booking-info">
    <p class ="booking-brand"> <%= @watch.brand %> </p>
    <p > <%= @watch.description %> </p>
  </div>
</div>

<div class = "booking-pay">
  <p> Pay now!</p>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 ">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Payment Details
            </h3>
            <div class="checkbox pull-right">
              <label>
                <input type="checkbox" />
                Remember
              </label>
            </div>
          </div>
          <div class="panel-body">
            <form role="form">
              <div class="form-group">
                <label for="cardNumber">
                CARD NUMBER</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                  required autofocus />
                  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-7 col-md-7">
                  <div class="form-group">
                    <label for="expityMonth">
                    EXPIRY DATE</label>
                    <div class="col-xs-6 col-lg-6 pl-ziro">
                      <input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
                    </div>
                    <div class="col-xs-6 col-lg-6 pl-ziro">
                      <input type="text" class="form-control" id="expityYear" placeholder="YY" required /></div>
                    </div>
                  </div>
                  <div class="col-xs-5 col-md-5 pull-right">
                    <div class="form-group">
                      <label for="cvCode">
                      CV CODE</label>
                      <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <ul class="nav nav-pills nav-stacked">
              <a href="http://www.jquery2dotnet.com" class="date-button" role="button"><%= @watch.price %> Final Payment</a>
            </li>
          </ul>
          <br/>
          <a href="http://www.jquery2dotnet.com" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
        </div>
      </div>
    </div>


  </div>
</div>
</div>



