<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-dark bg-dark">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", :class => "style-logo" %>
    <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
         <div class="items-menu-bar d-flex align-items-center">
          <%= link_to dashboard_path do %>
            <i class="fas fa-home fa-2x"></i>
          <% end %>
          <div class="dropdown dashboard-home">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Payment Info</a>
              <a class="dropdown-item" href="#">Account Setting</a>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <i class="fas fa-sign-out-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

 <div class="show-watch-body">
  <div id="map-container" style="width:100%; padding-top: 45px; padding-left: 40px; margin-right: 0">

      <div class="show-card-watches d-flex" style="margin-right:10px">

        <div class="card-image-index col-4" style="background-image: url(<%= cl_image_path(@watch.photos.first.key) %>); background-position: center;">
        </div>

        <div class="card-body-info col-8">
          <div class="card-body-index">
            <div class="title-and-like d-flex justify-content-between">
              <h4 class="card-index-title"><strong><%= @watch.brand %></strong></h4>
              <i class="far fa-heart active" id="not-liked"></i>
              <i class="fas fa-heart inactive" id="liked"></i>
            </div>
            <h5 class="card-index-description"><%= @watch.description %></h5>
          </div>
          <div class="card-index-booking d-flex justify-content-between">
            <div>
              <h4 class="index-price"><strong>€ <%= @watch.price %> per day</strong></h4>
              <div class="stars-index d-flex">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <p class="note-text">Prices may vary depending on selected date </p>
            </div>
          </div>

          <div class="dates-picker">
            <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
              <h7><strong>Pick your dates</strong></h7>


              <%= simple_form_for [@watch, @booking] do |f| %>
              <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker"} %>
              <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
              <%= f.button :submit, "Book now", class: "date-button" %>
              <% end %>
            </div>
          </div>

        </div>



      </div>

    <div id="map"
          class="col-4"
           style="height: 80vh; position: sticky; top: 0; right: 0; border: none;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
</div>

