<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-dark bg-dark">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", :class => "style-logo" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>

        <div class="items-menu-bar d-flex align-items-center">
            <%= link_to dashboard_path do %>
                <i class="fas fa-home fa-2x"></i>
              <% end %>
          </div>

          <div class="dropdown dashboard-home">
            <button class="btn btn-secondary dropdown-toggle user-icon" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Payment Info</a>
              <a class="dropdown-item" href="#">Account Setting</a>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <i class="fas fa-sign-out-alt"></i>
              <% end %>

            </div>
            </button>
          </div>
        </div>
      <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>
  </div>


<div class="main-photo-banner">
  <div class="banner-container">
    <div class="slogan-main">
      <p>Be on time, in style.</p>
    </div>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" style="color:white;">


<!-- <div class="search-bar-home">
  <form action="/watches" accept-charset="UTF-8" method="get" class>
    <div class = "index-wrap">
    <input type="text" name="brand" id="brand" class="form-control searchform" placeholder="Find a brand">
    <input type="text" name="price" id="price" class="form-control searchform" placeholder="Find a price">
     <i class="fas fa-stopwatch mr-2"> </i>
  </form> -->



  <%= form_tag watches_path, method: :get do %>
    <div class = "index-wrap search-bar-main">
  <%= text_field_tag :query,params[:query],class: "form-control search-bar-main",placeholder: "Let's find your watch"%>
    <i class="fas fa-stopwatch mr-2" style="color:#9D9D9D;"> </i>
  </div>
  <% end %>
</div>

</div>

<div class="home-page-text" style="background-color:#EDEDED;">

  <div class="discovery" style="text-align:center; padding-top: 50px;">
      <h2>Discover watches near you</h2>
  </div>
  <div class="home-page-categories d-flex justify-content-around" style="height: 60vh;">

    <div class="titanium watch-display col-4">
      <%= link_to watches_path(:material => "titanium")do %>
      <div class="link-home d-flex flex-wrap" stlye="width: 100%; height:">
        <p style="padding-top: 10px; padding-left: 10px;"><strong>titanium</strong></p>
        <i class="fas fa-arrow-circle-right"></i>
      </div>
      <% end %>
    </div>

    <div class="white-gold watch-display col-4">
      <%= link_to watches_path(:material => "white gold")do %>
      <div class="link-home d-flex flex-wrap" stlye="width: 100%;">
        <p style="padding-top: 10px; padding-left: 10px;"><strong>white gold</strong></p>
        <i class="fas fa-arrow-circle-right"></i>
      </div>
      <% end %>
    </div>

    <div class="bronze watch-display col-4">
      <%= link_to watches_path(:material => "bronze")do %>
      <div class="link-home d-flex flex-wrap" stlye="width: 100%;">
        <p style="padding-top: 10px; padding-left: 10px;"><strong>bronze</strong></p>
        <i class="fas fa-arrow-circle-right"></i>
      </div>
      <% end %>
    </div>

  </div>

  <div class="home-patch-prompt">
    <div class=become-a-user-prompt-photo>
      <h3><strong>Have the perfect offering?</strong></h3>
      <h3><strong>Become a lender today.</strong></h3>
      <i class="fas fa-arrow-circle-right fa-2x"></i>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small darken-3 footer-dark bg-dark">

  <!-- Footer Elements -->
  <div class="container text-center">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <ul class="socials">
        <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->




