<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-dark bg-dark">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "logo.png", :class => "style-logo" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <div class="items-menu-bar d-flex align-items-center">
          <%= link_to dashboard_path do %>
            <i class="fas fa-home fa-2x"></i>
          <% end %>
          <div class="dropdown dashboard-home">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Payment Info</a>
              <a class="dropdown-item" href="#">Account Setting</a>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <i class="fas fa-sign-out-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="main-photo-banner">
  <div class="banner-container">
    <div class="slogan-main">
      <p>Be on time, in style.</p>
    </div>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <form class="searchform group main">
      <label for="search-box">
        <%= link_to watches_path do %>
          <span class="fa fa-2x fa-search"></span>
        <% end %>
      </label>
      <input type="search" id="search-box" placeholder="Search">
    </form>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small darken-3 footer-dark bg-dark">

  <!-- Footer Elements -->
  <div class="container text-center">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



