<%= render 'shared/navbar_searchbar' %>
<%= yield %>
>>>>>>> master

<div class="index-page">

  <div id="map-container">
    <div class="watch-card-display col-8">
      <div class="page-header">
        <h1>Our <strong>watches</strong></h1>
      </div>
      <div class="cards-index-container">
        <% @watches.each do |watch| %>


        <%= render 'card', watch: watch %>
        <% end %>
      </div>

    </div>

    <div id="map"
         class="col-4"
         style="height: 100vh;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
</div>




