
<div class="edit-my-watch">

  <div class="edit-watch-title-name d-flex justify-content-center align-items-center">
    <h1>Add your watch</h1>
  </div>

  <div class="logo-box">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", :class => "dashboard-style-logo", :id => "sidebar" %>
    <% end %>
  </div>
  <%= link_to dashboard_path do %>
  <div class="back-edit-btn">
    <i class="fas fa-backspace fa-lg"></i>
    <p> Take me back </p>
  </div>
  <% end %>

  <div class="my-new-watch-card d-flex">
    <div class="new-form-wrapper" style="width: 400px; margin: 0 auto;">
      <div class ="date-range"><h7 class= ><strong>Pick your dates</strong></h7></div>
      <%= simple_form_for [@watch] do |f| %>
      <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
       <!--  <label for="formGroupExampleInput2">Price</label>
        <div id= "price-value"></div>
        <input type="range" min="700" max="6000" value="3250" class="slider" id="myRange"> -->
        <%= f.input :price %>
      <%= f.input :brand %>
      <%= f.input :description %>
      <%= f.input :material_id, collection: Material.all, value_method: :id,label: "Material", include_blank: false, selected: @watch.material_id %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Submit", class: "btn btn-dark  w-25" %>
      <% end %>


      </div>

    </div>



  </div>
</div>
</div>

<!-- <script>
  const slider = document.getElementById("watch_price");
  let output = document.getElementById("price-value");
output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
  output.innerHTML = this.value;
}

</script>
 -->
